/* *********************************** */
@import url(normalize.min.css);
@import url(reset.css);

/* *********************************** */
/* *** ESTILOS GENERALES *** */
/* *********************************** */

/* Tipografía */
/* Tipografía */

/* Montserrat */
@font-face {
  font-family: "montserratRegular";
  src: url("../font/montserratalternates-regular.woff2") format("woff2"),
    url("../font/montserratalternates-regular.woff") format("woff");
}

@font-face {
  font-family: "montserratBold";
  src: url("../font/montserratalternates-bold.woff2") format("woff2"),
    url("../font/montserratalternates-bold.woff") format("woff");
}

@font-face {
  font-family: "montserratItalic";
  src: url("../font/montserratalternates-italic.woff2") format("woff2"),
    url("../font/montserratalternates-italic.woff") format("woff");
}


:root{
  /* Colores */
  --color-font-smartphone: rgb(255, 255, 255);
  --color-font-tablet: rgb(255, 0, 0);
  --color-font-desktop: rgb(251, 255, 0);
  --bgcolor-body-smartphone: red;
  --bgcolor-body-tablet: yellow;
  --bgcolor-body-desktop: black;
  --color: blue;
  /* Tamaño Pantalla */
  /* --size-body-smartphone: em;  px */ 
  /* 768px */ 
  --size-body-tablet: 48em; 
  /* 1000px */
  --size-body-desktop: 62.5em; 
}


/* ******************************** */
/* Estilo General = Smartphone */ 
body{
  display: flex;


  font-size: 100%;
  background-color: var(--bgcolor-body-smartphone);
  
  h1{
    color: var(--color-font-smartphone);  
  }
}

/* Estados Responsive */
/* Tablet */
@media only screen and (min-width: 48em){
  
  body{
    color: var(--color-font-tablet);
    background-color: var(--bgcolor-body-tablet);
    h1{
      color: var(--color-font-tablet);  
    }
    
  }
}
/* Desktop */
@media only screen and (min-width: 62.5em){
  body{
    color: var(--color-font-desktop);
    background-color: var(--bgcolor-body-desktop);
    h1{
      color: var(--color-font-desktop);  
    }
  }
}
/* ******************************** */
/* ******************************** */



/* ******************************** */